.navbar{
    background-color: #62BFFC;
    height:70px;
}
.navbar-nav{
    background-color: #62BFFC;
}
.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffe066;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    font-size: 34px;
    height: 100% ;
    color: white;
}
.navbar-text{
    background-color: #62BFFC;
    margin-top: -0.01%;
    margin-right: 1px;
}
.navbar-brand{
    color:white;
    font-weight: 700;
}
#navbarSupportedContent{
    font-size: 26px;
}
#projects, #skills, #contact{
    padding-left:3%;
    padding-right: 3%;
}
.headshot{
    border-radius: 50%;
}   
.about{
    display: inline-block;
    background-color:white;
    border-radius: 10px;
    padding: 25px;
    margin-left: -10%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;   
    width: 120%;
    margin-top: 20px;
    font-size: large;
}
.card{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
h9, h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /* font-family: 'Montserrat', sans-serif;  */
    color: #62BFFC; 
p{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
button{
    font-size: 46px;
}
.heading{
    color: #62BFFC;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
