.navbar{
    background-color: white;
    
}
.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(73, 185, 174);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: xx-large;
    height: 50px;
    margin-top: -20px;
    
}
.navbar-light .navbar-brand{
    color:white;
    font-weight: 700;
}
.intro{
    background-color: rgb(218, 214, 214)
     /* rgb(218, 214, 214); */
    /* height: 500px;
    width: 800px; */
}
.headshot{
    margin: 20px    
}
.about{
    display: inline-block;
    border: 1px solid black;
    background-color:white;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    font-size: large
}

/* .image{
    background: url(../images/headshot.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 1000px 700px ;
} */